.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/edu1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 370px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 137px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 290px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 50px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 50px auto 0 449px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -232px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-left: auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -145px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
    margin-left: auto;
    margin-bottom: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 82px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 29px 0 29px 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 201px;
}

.u-section-3 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: -148px -1px 60px 959px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 859px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 659px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -265px;
    margin-right: 0;
    margin-left: 158px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 189px;
}

.u-section-4 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: -148px 0 60px 958px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -265px;
    margin-left: 158px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 189px;
}

.u-section-5 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-btn-3 {
  padding: 0;
}

.u-section-5 .u-btn-4 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: -151px 0 60px 958px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -257px;
    margin-left: 158px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 189px;
}

.u-section-6 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: -151px 0 60px 958px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-left: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -179px;
    margin-left: 158px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 201px;
}

.u-section-7 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-btn-2 {
  padding: 0;
}

.u-section-7 .u-btn-3 {
  padding: 0;
}

.u-section-7 .u-btn-4 {
  padding: 0;
}

.u-section-7 .u-btn-5 {
  padding: 0;
}

.u-section-7 .u-btn-6 {
  padding: 0;
}

.u-section-7 .u-btn-7 {
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: -156px 0 60px 958px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-left: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -337px;
    margin-left: 158px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 82px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 29px 15px 29px 29px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 206px;
}

.u-section-9 .u-text-1 {
  margin: 25px 0 13px;
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

.u-section-9 .u-btn-2 {
  padding: 0;
}

.u-section-9 .u-btn-3 {
  padding: 0;
}

.u-section-9 .u-btn-4 {
  padding: 0;
}.u-section-10 .u-sheet-1 {
  min-height: 200px;
}

.u-section-10 .u-text-1 {
  margin: 13px 0 24px;
}

.u-section-10 .u-btn-1 {
  padding: 0;
}

.u-section-10 .u-btn-2 {
  padding: 0;
}

.u-section-10 .u-btn-3 {
  padding: 0;
}

.u-section-10 .u-btn-4 {
  padding: 0;
}

.u-section-10 .u-btn-5 {
  padding: 0;
}

.u-section-10 .u-btn-6 {
  padding: 0;
}.u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/discussion.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 441px;
}

.u-section-11 .u-text-1 {
  margin: 115px 20px 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-11 .u-btn-1 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 132px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 748px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 43px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 662px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 55px 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-12 .u-btn-1 {
  padding: 0;
}

.u-section-12 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-12 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 104px;
  min-width: 40px;
  white-space: nowrap;
  margin: 30px auto 0 0;
}

.u-section-12 .u-icon-1 {
  height: 100%;
}

.u-section-12 .u-icon-2 {
  height: 100%;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-12 .u-text-4 {
  font-size: 1.125rem;
  margin: 55px 26px 0;
}

.u-section-12 .u-form-1 {
  height: 426px;
  width: 530px;
  margin: 21px 0 0;
}

.u-section-12 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-12 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-12 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-12 .u-form-1 {
    width: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-12 .u-form-1 {
    margin-top: 20px;
    width: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 33px;
  }

  .u-section-12 .u-form-1 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-12 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-12 .u-form-1 {
    margin-top: 20px;
  }
}